 ### Strings based Practice questions:

1. Write a program to reverse a string.

In [1]:
s1 = input()

 hdehdwhufer 99

In [2]:
s1_reversed = s1[::-1]
s1_reversed

'99 refuhwdhedh'

2. Check if a string is a palindrome.

In [4]:
s2 = input()
if s2 == s2[::-1]:
    print("Yes, it is a palindrome.")
else:
    print("No, it is not a palindrome.")

 teyiy226677

No, it is not a palindrome.

3. Convert a string to uppercase.
4. Convert a string to lowercase.

In [5]:
s3 = input()
s3_upper = s3.upper()
s3_lower = s3.lower()
print(f"The string in uppercase is {s3_upper} and in lowercase is {s3_lower}.")

 ttgdqhgGGGGh

The string in uppercase is TTGDQHGGGGGH and in lowercase is ttgdqhgggggh.

5. Count the number of vowels in a string.
6. Count the number of consonants in a string.

In [52]:
s4 = input()

 jlkjlk

In [61]:
s4 = s4.lower()
count_consonants = 0
count_vowels = 0
for i in s4:
    if i not in ['a','i','e','o','u']:
        count_consonants = count_consonants+1
print("No. of consonants in the sentence:", count_consonants)

No. of consonants in the sentence: 6

In [62]:
    else:
        count_vowles = count_vowels+1
print("No. of vowles in the sentence:", count_vowles)        
# Why is this codenot working????
#please help

SyntaxError: invalid syntax (2807652598.py, line 1)

In [64]:
s5 = input()
s5 = s5.lower()
count_vowels = 0
for i in s5:
    if i  in ['a','i','e','o','u']:
        count_vowels = count_vowels +1
print("No. of count_vowels in the sentence:", count_vowels)

 aeiouu

No. of count_vowels in the sentence: 6

7. Remove all whitespaces from a string.

In [65]:
s6 = input()
s6 = s6.replace(" " , "") # replace white space with no space.
s6

 Hello from me

'Hellofromme'

8. Find the length of a string without using the `len()` function.

In [66]:
s7 = input()
count = 0
for i in s7:
    count = count + 1
print("length of the string is", count)

 Hello from neha

length of the string is 15

9. Check if a string contains a specific word.

In [69]:
s8 = input()
s8 = s8.lower()
if 'hello' in s8:
    print("Yes, the string contains the word")
else:
    print("No, the string doesnot contain the word")

 HELLO

Yes, the string contains the word

10. Replace a word in a string with another word.

In [70]:
s9 = input()
s_replaced = s9.replace("in" ,"out")
s_replaced

 Hello come inside

'Hello come outside'

11. Count the occurrences of a word in a string.

In [71]:
s10 = input()
s10= s10.lower()
count = s10.count("hello")
count

 Hello hello none

2

12. Find the first occurrence of a word in a string.
13. Find the last occurrence of a word in a string.

In [75]:
s11 = input()
first_occurance = s11.index('hello')
print("first_occurance is at", first_occurance,"index")

 hello to my dear friends hello hell

first_occurance is at 0 index

In [76]:
last_occurance = s11.rfind('hello') # rfind() gives last occurance of a word in a string.
print("last_occurance is at", last_occurance,"index")

last_occurance is at 25 index

14. Split a string into a list of words.
15. Join a list of words into a string.

In [87]:
# splitting strings
s12=input()
new = s12.split() # splits sentence in to items of list on white space as separator.
new
#OR
#l = list(s12)
#l

 wndewndjj

['wndewndjj']

In [93]:
# JOining items of a list in to a string.
l = ["a","ssd","dd"]
joined = "".join(l) # use .join(list_) method
joined

'assddd'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.
17. Check if a string starts with a specific word or phrase.
18. Check if a string ends with a specific word or phrase.
19. Convert a string to title case (e.g., "hello world" to "Hello World").
20. Find the longest word in a string. # I have doubt in these.
21. Find the shortest word in a string.
22. Reverse the order of words in a string.

In [94]:
#16)
s= input()
s_s = s.replace(" ", "_")
s_s

 Hello world

'Hello_world'

In [96]:
#17)
s = input()
s_q = s.startswith("he")
s_q

 gghudhed

False

In [97]:
#18)
s = input()
s_e = s.endswith("rld")
s_e

 Hello world

True

In [98]:
#19)
s = input()
s_t = s.title()
s_t

 nino

'Nino'

In [115]:
#20) and # 21)
#After splitting it is passed to max() function with keyword argument key=len
#which returns longest word from sentence.

s = input()
s_list= s.split()

 hellooooo h u

In [116]:
s_list
min(s_list, key =len) # shortest word
max(s_list, key =len) # longest word

'hellooooo'

In [117]:
print("the shortest word in the sentence/string is - ", min(s_list, key =len))
print("the longest word in the sentence/string is - ", max(s_list, key =len))

the shortest word in the sentence/string is -  h
the longest word in the sentence/string is -  hellooooo

In [11]:
#OR
s= input()
l_list = s.split()
longest_word = l_list[0]
max_length = len(l_list[0])
for index, word in enumerate(l_list):
    if len(word) > max_length:
        longest_word = word
print("longest_word is ", longest_word)

IndexError: list index out of range

In [ ]:
#20) what if there is a tie?? how do we choose?

In [15]:
#22)
s = input()
s_reverse = s[::-1]
s_reverse

 Hello

'olleH'

23. Check if a string is alphanumeric.
24. Extract all digits from a string.
25. Extract all alphabets from a string.
26. Count the number of uppercase letters in a string.
27. Count the number of lowercase letters in a string.
28. Swap the case of each character in a string.
29. Remove a specific word from a string.
30. Check if a string is a valid email address.

In [17]:
#23)
s = input()
s_a= s.isalnum()
s_a

 12345fyhgdio

True

In [21]:
#24)
s = input()
l = []
for i in s:
    if i.isdigit():
        l.append(i)
print(l)

 ui77

['7', '7']

In [22]:
#25)
s = input()
l = []
for i in s:
    if i.isalpha():
        l.append(i)
print(l)

 abcdefgh

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [24]:
#26)
s = input()
count = 0
for i in s:
    if i.isupper():
        count = count+1
print("the no. of upper case letters are", count)

 ABCDrrtyu

the no. of upper case letters are 4

In [25]:
#27)
s = input()
count = 0
for i in s:
    if i.islower():
        count = count+1
print("the no. of lower case letters are", count)

 abGGHHI

the no. of lower case letters are 2

In [26]:
#28)
s = input()
s_swap = s.swapcase()
s_swap

 Abc

'aBC'

In [27]:
#29)
s = input()
s_remove = s.replace("water", "")
s_remove

 I drink a lot of water

'I drink a lot of '

In [ ]:
#30)
# Use regression

In [ ]:
31. Extract the username from an email address string.
32. Extract the domain name from an email address string.
33. Replace multiple spaces in a string with a single space.
34. Check if a string is a valid URL.
35. Extract the protocol (http or https) from a URL string.
36. Find the frequency of each character in a string.
37. Remove all punctuation from a string.
38. Check if a string contains only digits.
39. Check if a string contains only alphabets.
40. Convert a string to a list of characters.

In [5]:
#31)
q = input("enter email:")
username = q.split("@")[0]
username

enter email: neha00@gmail.com

'neha00'

In [6]:
#32) domain name
domain_name = q.split("@")[1]
domain_name

'gmail.com'

In [3]:
#33) Replace multiple spaces in a string with a single space.
s = input()
s_s = s.split()
s_s

 hi     you are the best   .

['hi', 'you', 'are', 'the', 'best', '.']

In [4]:
" ".join(s_s)

'hi you are the best .'

In [ ]:
# 34)

In [7]:
#35)
q = input("enter url:")
h = q.split(":")[0]
h

enter url: http://hjfjhfjfv

'http'

In [14]:
#36)
#frequency of each character in a string # use list()
sy = input("enter the string:")
ll = list(sy) #convert it in to a list
dictt = {}
for i in ll:
    dictt[i] = ll.count(i)
print(dictt)

enter the string: hello how

{'h': 2, 'e': 1, 'l': 2, 'o': 2, ' ': 1, 'w': 1}

In [16]:
# 37) Remove punctuation.
si = input()
punctuation = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for i in si:
    if i in punctuation:
        si = si.replace( i, '')
print("The string after punctuation filter : ", si)

 ddahd%%%,...

The string after punctuation filter :  ddahd

In [24]:
# 38)
s= input()
if s.isdigit():
    print("yes")

 6778

yes

In [26]:
#39)
s = input()
if s.isalpha():
    print("Yes")
else:
    print("NO")

 798788

NO

In [27]:
#40)
s = input()
list(s)

 hferhfierhiorgioer

['h',
 'f',
 'e',
 'r',
 'h',
 'f',
 'i',
 'e',
 'r',
 'h',
 'i',
 'o',
 'r',
 'g',
 'i',
 'o',
 'e',
 'r']

41. Check if two strings are anagrams.
42. Encode a string using a Caesar cipher.
43. Decode a Caesar cipher encoded string.

In [42]:
#41)
str1= 'abcde'
str2 = 'bdca'
if len(str1) == len(str2):
    str1_s= sorted(str1) ## using sorted() on a string splits the string in to a list of sorted alphabets!!!
    str2_s = sorted(str2)
    if str1_s == str2_s:
        print(str1 +" "+ str2 + " are anagrams.")  
else:
    print(str1 +" "+ str2 + " are not  anagrams.")

abcde bdca are not  anagrams.

In [ ]:
#42) Ceaser Cipher
# It is a form of encoding/encryption where each letter in the text is moved by some positions
#ord() returns the unicode of a given character.
# character in to an integer and vice versa.

In [45]:
plain_text = "Hello world"
n = 1
ans =""
for i in range(len(plain_text)):
    ch = plain_text[i]
    if ch ==" ":
        ans += " "
    elif ch.upper():
        ans+= chr((ord(ch) + n-65) % 26 +65)
    else:
        ans+= chr((ord(ch) + n-97) %26 +97)
print(ans)

ILSSV DVYSK

In [50]:
message = input("enter message to be decrypted:")
message = message.lower()
letters ='abcdefghijklmnopqrstuvwxyz'
k = 17
decrypted_msg = ""
for ch in message:
    if ch in letters:
        position_index = letters.find(ch)
        new_position_index = (position_index-k) % 26
        decoded_ch = letters[new_position_index]
        decrypted_msg += decoded_ch
    else:
        decrypted_msg += ch
print(decrypted_msg)

enter message to be decrypted: KYZJ ZJ R MVIP TFFC DVJJRXV

this is a very cool message

44. Find the most frequent word in a string.
45. Find all unique words in a string.
46. Count the number of syllables in a string.

In [26]:
#44)
s = input()
s_l = s.split()
dic ={}

for i in s_l:
    dic[i] = s_l.count(i)
print(dic)

 we are the best of the best for best .

{'we': 1, 'are': 1, 'the': 2, 'best': 3, 'of': 1, 'for': 1, '.': 1}

In [27]:
frequent =max(dic, key = dic.get)
frequent
# most frequent word in a string/sentence dictionary

'best'

In [28]:
print("The most frequent word in the string is ", frequent)

The most frequent word in the string is  best

In [31]:
#sorted dictionary as per values
st = sorted(dic, key = dic.get,  reverse = True)
st

['best', 'the', 'we', 'are', 'of', 'for', '.']

In [ ]:
## longest word in a string/list = max(list, key = len)
## Most frequent word in a string/list = max(dic, key =dic.get)
## sorted Most frequent words in a string = sorted(dic, key = dic.get, reverse = True)

45. Find all unique words in a string.

In [32]:
si= input()
si= si.split()
si

 we are the the the  two two

['we', 'are', 'the', 'the', 'the', 'two', 'two']

In [33]:
st = set(si)
st

{'are', 'the', 'two', 'we'}

46. Count the number of syllables in a string.

47. Check if a string contains any special characters.

In [20]:
import re #using regex

# Getting string input from the user 
myStr =  input('Enter the string : ')

# Checking if a string contains any special character  
regularExp = re.compile('[@_!#$%^&*()<>?/\|}{~:]')

# Printing values 
print("Entered String is ", myStr)
if(regularExp.search(myStr) == None):
    print("The string does not contain special character(s)")
else:
    print("The string contains special character(s)")

Enter the string :  *****

Entered String is  *****
The string contains special character(s)


48. Remove the nth word from a string.
49. Insert a word at the nth position in a string.

In [21]:
s= input("Enter a sentence:")
s = s.split()

Enter a sentence: How about you ?

In [22]:
s

['How', 'about', 'you', '?']

In [23]:
#48) removing nth word in a sentence.
n = int(input("enter n:"))
if n in range(len(s)):
    s.pop(n)
    print("The new string/sentence is ",(" ".join(s)))
else:
    pass

enter n: 3

The new string/sentence is  How about you

In [24]:
#49) Insert a word at the nth position in a string.
word = input("enter a word:")
n = int(input("enter n:"))
if n in range(len(s)):
    s.insert(n, word)
    print("The new string/sentence is ",(" ".join(s)))
else:
    pass

enter a word: very
enter n: 0

The new string/sentence is  very How about you

50. Convert a CSV string to a list of lists.

In [21]:
s = 'a,s,d,d,d,d,,g,' # enter a comma separated string
s = s.split(",")  # use split function by using , as delimiter.
s

['a', 's', 'd', 'd', 'd', 'd', '', 'g', '']

## List based practice problems:

1. Create a list with integers from 1 to 10.

In [22]:
l = list[1,2,3,4,5,6,7,8,9,10]
l

list[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [23]:
l = list(input("enter:")) # typecast in to list
count = 0
for i in l:
    count+=1
count

enter: hdhdoqhio

9

3. Append an element to the end of a list.
4. Insert an element at a specific index in a list.
5. Remove an element from a list by its value.
6. Remove an element from a list by its index.

In [25]:
#3)
l = [ 1,2,'a']
l.append('34')
l

[1, 2, 'a', '34']

In [26]:
#4)
l.insert(0,'Car')
l

['Car', 1, 2, 'a', '34']

In [27]:
#5)
l.remove('a')
l

['Car', 1, 2, '34']

In [28]:
#6)
l.pop(1)
l

['Car', 2, '34']

7. Check if an element exists in a list.

8. Find the index of the first occurrence of an element in a list.

9. Count the occurrences of an element in a list.

10. Reverse the order of elements in a list.

11. Sort a list in ascending order.

12. Sort a list in descending order.

In [29]:
#7)
lst=[ 1, 6, 3, 5, 3, 4 ]
i=0
if i in lst:
    print("exist")
else:
    print("not exist")

not exist

In [30]:
#8)
l =[ 1,2,33,44, 33]
l.index(33)

2

In [31]:
#9)
l =[ 1,2,33,44, 33]
l.count(33)

2

In [33]:
#10) Reverse
l =[ 1,2,33,44, 33]
l.reverse()
l

[33, 44, 33, 2, 1]

In [34]:
#11) Ascending:
l =[ 1,2,33,44, 33]
l.sort()
l

[1, 2, 33, 33, 44]

In [35]:
#12)Descending order:
l =[ 1,2,33,44, 33]
l.sort(reverse = True)
l

[44, 33, 33, 2, 1]

13. Create a list of even numbers from 1 to 20.

14. Create a list of odd numbers from 1 to 20.

15. Find the sum of all elements in a list.

16. Find the maximum value in a list.

17. Find the minimum value in a list.

18. Create a list of squares of numbers from 1 to 10.
19. Create a list of random numbers.

20. Remove duplicates from a list.

In [39]:
#13)
l = []
for i in range(1,21):
    if (i%2 == 0):
        l.append(i)
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [40]:
#14)
l = []
for i in range(1,21):
    if (i%2 != 0):
        l.append(i)
l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [41]:
#15)
l = [1,2,3,4]
sum(l)

10

In [43]:
#16)
l = [1,2,3,99]
max(l)

99

In [44]:
#17)
l = [1,2,3,99]
min(l)

1

In [46]:
#18)
l = []
for i in range(1,11):
        l.append(i**2)
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
#19) Create a list of random numbers:
import random  # import random library
l = random.sample(range(1,100),10)
l

[93, 29, 64, 20, 18, 92, 90, 35, 61, 54]

In [49]:
#20)
l = [1,2,2,33,44]
l = set(l)
l

{1, 2, 33, 44}

21. Find the common elements between two lists.

22. Find the difference between two lists.

23. Merge two lists.
24. Multiply all elements in a list by 2.
25. Filter out all even numbers from a list.

In [53]:
# 21)
l1 =[1,2,33,44,6]
l2 =[2,23,33,5,7,8]
result = []
for element in l1:
    if element in l2:
        result.append(element)
result

[2, 33]

In [59]:
#OR we can use set intersection:
ll = list(set(l1).intersection(l2)) # insection between a set and a list .
ll

[33, 2]

In [67]:
#22) Difference ####
l1 =[1,2,33,44,6]
l2 =[2,23,33,5,7]
l=[]
for i in l1+l2:
    if i not in l2 or i not in l1:
        l.append(i)
l

[1, 44, 6, 23, 5, 7]

In [68]:
#23) Merge two lists
l1 =[1,2,33,44,6]
l2 =[2,23,33,5,7]
l1+l2

[1, 2, 33, 44, 6, 2, 23, 33, 5, 7]

In [70]:
#)24
l1 =[1,2,33,44,6]
l=[]
for i in l1:
    l.append(i*2)
l

[2, 4, 66, 88, 12]

In [ ]:
#25)
l = [1,2,4,5,6,8]
for i in l:
    if (i%2 == 0):
        l.append(i)
l

26. Convert a list of strings to a list of integers.
27. Convert a list of integers to a list of strings.
28. Flatten a nested list.

29. Create a list of the first 10 Fibonacci numbers.

30. Check if a list is sorted.

31. Rotate a list to the left by `n` positions.
32. Rotate a list to the right by `n` positions.
33. Create a list of prime numbers up to 50.

In [1]:
#26)
l = ['2', '3', '44']
l2=[]
for i in l:
    l2.append(int(i))
l2

[2, 3, 44]

In [ ]:
#27)
l = [3,6,7,8,9]
l2=[]
for i in l:
    l2.append(str(i))
l2

In [1]:
#28)
#Faltten a nested list:
l = [1, [2,3,4]]
ll=[]
for i in l:
    if type(i) is list:
        for element in i:
            ll.append(element)
    else:
        ll.append(i)
ll

[1, 2, 3, 4]

In [5]:
#29) Fibonacci
l=[0,1]
n = 10
while len(l)<n:
    next= l[len(l)-1] + l[len(l)-2]
    l.append(next)
print("first ten Fibonacci numbers are: ", l)

first ten Fibonacci numbers are:  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [41]:
#30) If a list is sorted?
l = [1,2,3,44,5]
if(l == sorted(l)):
    print("Yes")
else:
    print("No")

No

In [11]:
#31) rotate the list Right by 2 numbers.

list_1 = [1,2,3,4,5,6]
list_2 = list_1[-2:] + list_1[:-2]
list_2

[5, 6, 1, 2, 3, 4]

In [8]:
#32) rotate the list LEFT by 3 numbers # LEFT side comes to the end.
list_1 = [1,2,3,4,5,6]
list_2 = list_1[3:] + list_1[:3]
list_2

[4, 5, 6, 1, 2, 3]

In [22]:
# 33) prime numbers in a range:
l=[]
flag = 0
for i in range(2, 50):#elements range between starting and ending range
    for j in range(2,i): 
        if(i%j==0):     #checking if number is divisible or not
            flag=1        #if number is divisible, then flag variable will become 1
            break
        else:
            flag=0     
    if(flag==0):    #if flag variable is 0, then element will append in list 
        l.append(i)
l

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.
35. Find the second largest number in a list.
36. Replace every element in a list with its square.
37. Convert a list to a dictionary where list elements become keys and their
indices become values.

38. Shuffle the elements of a list randomly.
39. Create a list of the first 10 factorial numbers.

In [38]:
#34)
l = [1,2,3,4,5,67]
la =[]
chunk_size = 2
for i in range(0,len(l), chunk_size):
    la.append(l[i:(i + chunk_size)])
    
la

[[1, 2], [3, 4], [5, 67]]

In [45]:
#35)
l = [1,2,3,4,5,67]
l.sort(reverse = True)
l[1]

5

In [46]:
#36)
l = [1,2,3,4,5,67]
for i in range(0,len(l)):
    l[i] = (l[i])**2
l

[1, 4, 9, 16, 25, 4489]

In [50]:
#37)
l = [1,2,3,4,5,67,67]
dic = {}
for i in l:
    dic[i] = l.index(i)
dic

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 67: 5}

In [51]:
#38)
import random
l= [1,2,3,4,5,67]
random.sample(l,6)

[2, 67, 1, 5, 4, 3]

In [55]:
#39) Factorial
l=[]
factorial = 1
for i in range(1,11):
    factorial = factorial*i
    l.append(factorial)
l        
#print("The factorial of",10,"is",factorial)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

41. Remove all elements from a list.

42. Replace negative numbers in a list with 0.
43. Convert a string into a list of words.
44. Convert a list of words into a string.
45. Create a list of the first `n` powers of 2.
46. Find the longest string in a list of strings.
47. Find the shortest string in a list of strings.
48. Create a list of the first `n` triangular numbers.
49. Check if a list contains another list as a subsequence.
50. Swap two elements in a list by their indices.

In [79]:
#40)
l1 = [1,2,3,4,5,6]
l2 =[1,2,7,8,9,0]
k = set(l1).intersection(l2)
if len(k) == 0:
    
    print("no element in commom")
else:
    print( len(k) ,"element(s) in common")

2 element(s) in common

In [80]:
#41)
l1 = [1,2,3,4,5,6]
l1.clear()

In [81]:
l1

[]

In [85]:
#42)
l1 = [1,2,3,4,5,-46]
for i in range(0,len(l1)):
    if l1[i]< 0:
        l1[i] = 0
l1

[1, 2, 3, 4, 5, 0]

In [86]:
#43)
s = input()
l = s.split()
l

 how are you doing

['how', 'are', 'you', 'doing']

In [87]:
s = input()
l = list(s)
l

 frfjlerfj

['f', 'r', 'f', 'j', 'l', 'e', 'r', 'f', 'j']

In [89]:
#44)
l =["there","was", "a"]
s = " ".join(l)
s

'there was a'

In [92]:
#45)
n = int(input("enter n:"))
l =[]
for i in range(0,n):
    l.append(2**i)
l

enter n: 6

[1, 2, 4, 8, 16, 32]

In [95]:
#46) longest string
l = ["there","was", "a", "nednewidwe"]
max(l, key = len)

'nednewidwe'

In [96]:
#47)
l = ["there","was", "we", "nednewidwe"]
min(l, key = len)

'we'

In [100]:
#48) Triangular nos.
n = int(input("enter n:"))
l =[]
for i in range(1,n):
    l.append(i*(i+1)//2)
l

enter n: 10

[1, 3, 6, 10, 15, 21, 28, 36, 45]

In [117]:
#49)
l=[1,2,3,4,6,77,77,8,9]
l2 = [9,8,77] # to check if l contains l2:
if set(l2).intersection(set(l)) == set(l2):
    res = True
else:
    res = False
res

True

In [101]:
#50)
l =[1,2,3,4]
l[0],l[1] = l[1],l[0]
l

[2, 1, 3, 4]

## Tuple Based Practice Problem

1. Create a tuple with integers from 1 to 5.
2. Access the third element of a tuple.
3. Find the length of a tuple without using the `len()` function.
4. Count the occurrences of an element in a tuple.
5. Find the index of the first occurrence of an element in a tuple.
6. Check if an element exists in a tuple.
7. Convert a tuple to a list.
8. Convert a list to a tuple.
9. Unpack the elements of a tuple into variables.
10. Create a tuple of even numbers from 1 to 10.

In [120]:
#1)
t = (1,2,3,4,5)
type(t)

tuple

In [121]:
#2)
t[2]

3

In [122]:
#3) Length of tuple
count = 0
for i in t:
    count = count+1
count

5

In [123]:
#4)
t = (1,2,3,4,5,5,5,5)
t.count(5)

4

In [124]:
#5)
t.index(5)

4

In [143]:
#6) Check if [1,2] is in tuple
t = (1,2,3,4,5,5,5,5)
l = [1,2]
set(l).intersection(t)

{1, 2}

In [144]:
#7)
t = (1,2,3,4,5,5,5,5)
l = list(t)
l

[1, 2, 3, 4, 5, 5, 5, 5]

In [145]:
#8)
l = [1,2,3,4,5,5,5,5]
t = tuple(l)
t

(1, 2, 3, 4, 5, 5, 5, 5)

In [147]:
#9) Unpacking elements of Tuple in to a variable:
t =("Neha","student")
(Name,Profession) = t
print(Name)
print(Profession)

Neha
student

In [150]:
#10)
l =[]
for i in range(1,11):
    if i%2 == 0:
        l.append(i)
print(tuple(l))

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.
12. Concatenate two tuples.
13. Repeat a tuple three times.
14. Check if a tuple is empty.
15. Create a nested tuple.
16. Access the first element of a nested tuple.
17. Create a tuple with a single element.
18. Compare two tuples.
19. Delete a tuple.
20. Slice a tuple.

In [1]:
#11)
l=[]
for i in range(1,11):
    if i%2 != 0:
        l.append(i)
print(tuple(l))

(1, 3, 5, 7, 9)

In [2]:
#12)
t1 = (1,2,3)
t2= (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [3]:
#13)
t1 = (1,2,3)
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [6]:
#14)
t1 = ()
if len(t1) == 0:
    print("empty tuple")

empty tuple

In [10]:
#15)
t1 =(3,4,5,(3,5),5)
type(t1)

tuple

In [11]:
#16)
t1[3][0]

3

In [14]:
#17
t1=(5,)
type(t1)

tuple

In [ ]:
#18)

In [20]:
#19)
tup=('tutorials', 2022,True)
print(tup)
del(tup) # del function is used to delete a tuple

('tutorials', 2022, True)

In [21]:
#20)
tup=('tutorials', 2022,True)
tup[1:2]
#As tuples are immutable, we cannot delete a slice of a tuple.

(2022,)

21. Find the maximum value in a tuple.
22. Find the minimum value in a tuple.
23. Convert a string to a tuple of characters.
24. Convert a tuple of characters to a string.
25. Create a tuple from multiple data types.
26. Check if two tuples are identical.
27. Sort the elements of a tuple.
28. Convert a tuple of integers to a tuple of strings.
29. Convert a tuple of strings to a tuple of integers.
30. Merge two tuples.
31. Flatten a nested tuple.
32. Create a tuple of the first 5 prime numbers.
33. Check if a tuple is a palindrome.
34. Create a tuple of squares of numbers from 1 to 5.
35. Filter out all even numbers from a tuple.
36. Multiply all elements in a tuple by 2.

In [24]:
#21)
t = (1,2,3,45)
max(t)

45

In [27]:
t = ('a', 'abat','aacrossed')
max(t, key = len)

'aacrossed'

In [1]:
#22)
t = ('a', 'abat','aacrossed')
min(t, key = len)

'a'

In [2]:
#23)
s = 'abad'
t = tuple(s)
t

('a', 'b', 'a', 'd')

In [4]:
#24)
st = "".join(t)
st

'abad'

In [5]:
#25)
t = ("a",1,"abde",[1,2,3])

In [6]:
type(t)

tuple

In [12]:
#26)
t1 =(1,2,3)
t2 =('d','f','g')
if set(t1).intersection(t2) == set():
    print("not identical")

not identical

In [18]:
t1 =(1,2,3)
t2 =(1,2,3)
if t1 == t2 :
    print("identical")
else:
    print("non identical")

identical

In [20]:
#27)
sorted(t1)

[1, 2, 3]

In [25]:
#28)
t =(1,2,3,4)
l2 =[]
for i in t:
    l2.append(str(i))
l2    
t2 =tuple(l2)
t2

('1', '2', '3', '4')

In [26]:
#29)
t =('1','2','3','4')
l2 =[]
for i in t:
    l2.append(int(i))
l2    
t2 =tuple(l2)
t2

(1, 2, 3, 4)

In [27]:
#30)
t1 =('1','2','3','4')
t2 =('d','f','g')
t1 + t2

('1', '2', '3', '4', 'd', 'f', 'g')

In [31]:
#31)
t= ('d','f','g',('1','2','3','4'))
l = []
for i in t:
    if (type(i) != tuple):
        l.append(i)
    else:
        for element in i:
            l.append(element)
l

['d', 'f', 'g', '1', '2', '3', '4']

In [40]:
#32) first 5 prime nos.
l=[]
for i in range(2,15):
    for j in range(2,i):
        if i%j == 0:
            flag = 1
            break
        else:
            flag =0
            
    if flag == 0:
            l.append(i)
l

[3, 5, 7, 11, 13]

In [46]:
#33) palindrome tuple:
t = ( 1,2,2,1)
t_reverse = t[::-1]
t_reverse

(1, 2, 2, 1)

In [47]:
if t == t_reverse :
    print( " tuple is a palindrome")
else:
    print( " tuple is not a palindrome")

 tuple is a palindrome

In [49]:
#34)
t =(1,2,3,4,5)
l=[]
for i in t:
    l.append(i**2)
t1 = tuple(l)
t1

(1, 4, 9, 16, 25)

In [52]:
#35)
t1 = (1, 4, 9, 16, 25)
l=[]
for i in t1:
    if i%2 == 0:
        l.append(i)
print("even nos. are", l)

even nos. are [4, 16]

In [53]:
#36)
t =(1,2,3,4,5)
l=[]
for i in t:
    l.append(i*2)
t1 = tuple(l)
t1

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.
38. Check if a tuple is sorted.
39. Rotate a tuple to the left by `n` positions.
40. Rotate a tuple to the right by `n` positions.
41. Create a tuple of the first 5 Fibonacci numbers.
42. Create a tuple from user input.
43. Swap two elements in a tuple.
44. Reverse the elements of a tuple.
45. Create a tuple of the first `n` powers of 2.
46. Find the longest string in a tuple of strings.
47. Find the shortest string in a tuple of strings.
48. Create a tuple of the first `n` triangular numbers.
49. Check if a tuple contains another tuple as a subsequence.
50. Create a tuple of alternating 1s and 0s of length `n`.

In [55]:
#37)
import random
t =(1,2,3,4,5,6)
random.sample(t, 4)

[4, 6, 2, 1]

In [57]:
random.randint(3,8)

3

In [59]:
tt = tuple(random.sample(t, 4))
tt

(2, 4, 3, 1)

In [64]:
#38)
t =(1,2,3,9,5,6)
t2= sorted(t) 
if t == t2:
    print("yes")
else:
    print("no")

no

In [65]:
#39) rotate  left by 3 positions.
t =(1,2,3,9,5,6)
t2 =t[3:] + t[:3]

In [66]:
t2

(9, 5, 6, 1, 2, 3)

In [67]:
#40)rotate right by 3 positions.
t =(9, 5, 6, 1, 2, 3)
#t2 =t[3:] + t[:3]
t[-3:] + t[:-3]

(1, 2, 3, 9, 5, 6)

In [2]:
#41)Fibonacci
l =  [ 0,1]
n= 5
while len(l)<n:
    next = l[len(l)-1] + l[len(l)-2]
    l.append(next)
tuple(l)

(0, 1, 1, 2, 3)

In [6]:
#42)
t = tuple(input("enter:"))

enter:

In [4]:
t

('h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u')

In [10]:
#43)
t = (1,2,3,4)
# tuple does not support item assignment.
l = list(t)
l[0],l[1] = l[1],l[0]
t = tuple(l)

In [11]:
t

(2, 1, 3, 4)

In [18]:
#44)
t = (1,2,3,4)
# tuple does not support item assignment.
l = list(t)
l

[1, 2, 3, 4]

In [19]:
t = tuple(l[::-1])

In [20]:
t

(4, 3, 2, 1)

In [21]:
#45)
n = 5
l=[]
for i in range(n+1):
    l.append(2**i)
tuple(l )

(1, 2, 4, 8, 16, 32)

In [23]:
#46)
t = ( "cat","doggy","wet","fat")
longest_string = max(t,key = len)
longest_string

'doggy'

In [24]:
#47)
t = ( "cat","doggy","wet","fat")
shortest_string = min(t,key = len)
shortest_string

'cat'

In [27]:
#48) triangular nos. first n
n =5
l=[]
for i in range(1,n+1):
    l.append(i*(i+1)//2)
l

[1, 3, 6, 10, 15]

In [29]:
t= tuple(l)
t

(1, 3, 6, 10, 15)

In [37]:
#49) # tuple contains another tuple as sequence:
t = (1,2,3,(4,5,6),9)
t2 = (4,5,6)
set(t2).intersection(t)

set()

In [38]:
if t2 in t:
    print("yes")

yes

In [39]:

tup1 = (10, 4, 5, 6)
tup2 = (5, 10)
res = set(tup2).issubset(tup1)
res

True

In [42]:
#50) Tuple of alternating 1, 0 of length 9
l=[]
n = 9
for i in range(1,n+1):
    if i%2 != 0:
        l.append(1)
    else:
        l.append(0)
l

[1, 0, 1, 0, 1, 0, 1, 0, 1]

In [44]:
t = tuple(l)
t

(1, 0, 1, 0, 1, 0, 1, 0, 1)

## Set Based Practice Problem :

1. Create a set with integers from 1 to 5.
2. Add an element to a set.

3. Remove an element from a set.

4. Check if an element exists in a set.

5. Find the length of a set without using the `len()` function.
6. Clear all elements from a set.

7. Create a set of even numbers from 1 to 10.

8. Create a set of odd numbers from 1 to 10.

9. Find the union of two sets.

10. Find the intersection of two sets.

11. Find the difference between two sets.

12. Check if a set is a subset of another set.

13. Check if a set is a superset of another set.
14. Create a set from a list.

15. Convert a set to a list.

16. Remove a random element from a set.

17. Pop an element from a set.
18. Check if two sets have no elements in common.

19. Find the symmetric difference between two sets.
20. Update a set with elements from another set.

In [45]:
#1)
s ={1,2,3,4,5}

In [46]:
#2)
s.add(99)
s

{1, 2, 3, 4, 5, 99}

In [47]:
#3)
s.remove(2)
s

{1, 3, 4, 5, 99}

In [ ]:
#4)